# Importing Libraries

In [14]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [15]:
# Importing “products_cleaned.csv” data set from the “Prepared Data” folder as df_prods by creating a string of the path

path = r'C:\Users\rbhte\OneDrive\Documents\Achievement_4_Monami\Instacart Basket Analysis'
print (path)

df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_cleaned.csv'), index_col = 0)
print (df_prods.head())

print ('-----------------------------------')
df_prods.info(memory_usage = "deep")
print ('-----------------------------------')

# Importing “orders_cleaned.csv” data set from the “Prepared Data” folder as df_ords by creating a string of the path
                                    
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_cleaned.csv'), index_col = 0)
print (df_ords.head())

print ('-----------------------------------')
df_ords.info(memory_usage = "deep")
print ('-----------------------------------')

# Importing “orders_products_prior.csv” data set from the “Original Data” folder as df_ords_prior
       
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders_products_prior.csv'), index_col = 0)
print (df_ords_prior.head())

print ('-----------------------------------')
df_ords_prior.info(memory_usage = "deep")
print ('-----------------------------------')

C:\Users\rbhte\OneDrive\Documents\Achievement_4_Monami\Instacart Basket Analysis
   product_id                                       product_name  aisle_id  \
0           1                         Chocolate Sandwich Cookies        61
1           2                                   All-Seasons Salt       104
2           3               Robust Golden Unsweetened Oolong Tea        94
3           4  Smart Ones Classic Favorites Mini Rigatoni Wit...        38
4           5                          Green Chile Anytime Sauce         5

   department_id  prices
0             19     5.8
1             13     9.3
2              7     4.5
3              1    10.5
4             13     4.3
-----------------------------------
<class 'pandas.core.frame.DataFrame'>
Index: 49672 entries, 0 to 49692
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49672 non-null  int64
 1   product_name   49672 non-null  object
 2   aisle_id       49672 non-null  int64
 3   department_id  49672 non-null  int64
 4   prices         49672 non-null  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 5.7 MB
-----------------------------------
   order_id  user_id  order_number  order_day_of_week  order_hour_of_day  \
0   2539329        1             1                  2                  8
1   2398795        1             2                  3                  7
2    473747        1             3                  3                 12
3   2254736        1             4                  4                  7
4    431534        1             5                  4                 15

   days_since_prior_order  new_customer
0                     NaN          True
1                    15.0         False
2                    21.0         False
3                    29.0         False
4                    28.0         False
-----------------------------------
<class 'pandas.core.frame.DataFrame'>
Index: 3421083 entries, 0 to 3421082
Data columns (total 7 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   order_day_of_week       int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
 6   new_customer            bool
dtypes: bool(1), float64(1), int64(5)
memory usage: 186.0 MB
-----------------------------------
          product_id  add_to_cart_order  reordered
order_id
2              33120                  1          1
2              28985                  2          1
2               9327                  3          0
2              45918                  4          1
2              30035                  5          0
-----------------------------------
<class 'pandas.core.frame.DataFrame'>
Index: 32434489 entries, 2 to 3421083
Data columns (total 3 columns):
 #   Column             Dtype
---  ------             -----
 0   product_id         int64
 1   add_to_cart_order  int64
 2   reordered          int64
dtypes: int64(3)
memory usage: 989.8 MB
-----------------------------------

In [16]:
# To check the shape of the dataframe
df_ords.shape

(3421083, 7)

In [17]:
df_ords_prior.shape

(32434489, 3)

# Create a new dataframe, df_merged_large that contains the combined df_ords and df_ords_prior dataframes and uses the “order_id” column as the key

In [23]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [25]:
df_merged_large.head()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order,new_customer,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,both

In [26]:
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [27]:
# Display the columns as a list
list(df_merged_large.columns)

['order_id',
 'user_id',
 'order_number',
 'order_day_of_week',
 'order_hour_of_day',
 'days_since_prior_order',
 'new_customer',
 'product_id',
 'add_to_cart_order',
 'reordered',
 '_merge']

In [28]:
# Drop the '_merge' column
df_merged_big = df_merged_large.drop(columns=['_merge'])

In [29]:
# Downcasting numerical columns to reduce memory usage
for column in df_merged_big.columns:
    if df_merged_big[column].dtype == 'float64':
        df_merged_big[column] = pd.to_numeric(df_merged_big[column], downcast='float')
    elif df_merged_big[column].dtype == 'int64':
        df_merged_big[column] = pd.to_numeric(df_merged_big[column], downcast='integer')

In [30]:
# Check the memory usage after downcasting
print(df_merged_big.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 10 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   order_day_of_week       int8
 4   order_hour_of_day       int8
 5   days_since_prior_order  float32
 6   new_customer            bool
 7   product_id              int32
 8   add_to_cart_order       int16
 9   reordered               int8
dtypes: bool(1), float32(1), int16(1), int32(3), int8(4)
memory usage: 711.4 MB
None

In [31]:
# Export data to pickle format

df_merged_big.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combinew.pkl'))

In [33]:
df_merged_big.shape

(32434489, 10)