# 4.9 : Intro to Data Visualization with Python - TASK 1

In [1]:
# Importing Libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
# Importing “ords_prods_merge_4.8improved.pkl” data set from the “Prepared Data” folder as "opm_refined" by creating a string of the path

path = r'C:\Users\rbhte\OneDrive\Documents\Achievement_4_Monami\Instacart Basket Analysis'
print (path)
print ( '..................................................................................')
# Correctly reading the pickle file
opm_refined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge_4.8improved.pkl'))

print(opm_refined.columns)

C:\Users\rbhte\OneDrive\Documents\Achievement_4_Monami\Instacart Basket Analysis
..................................................................................
Index(['order_id', 'user_id', 'order_number', 'order_day_of_week',
       'order_hour_of_day', 'days_since_prior_order', 'new_customer',
       'product_id', 'add_to_cart_order', 'reordered', 'product_name',
       'aisle_id', 'department_id', 'prices', 'price_label', 'busiest_day',
       'day_category', 'busiest_period_of_day', 'max_order', 'loyalty_flag',
       'spending_flag', 'order_frequency_flag'],
      dtype='object')

In [3]:
# Check the data types of all columns in opm_refined
print("Data types of columns in opm_refined:")
print(opm_refined.dtypes)

Data types of columns in opm_refined:
order_id                    int32
user_id                     int32
order_number                 int8
order_day_of_week            int8
order_hour_of_day            int8
days_since_prior_order    float32
new_customer                 bool
product_id                  int32
add_to_cart_order           int16
reordered                    int8
product_name               object
aisle_id                    int16
department_id                int8
prices                    float32
price_label                object
busiest_day                object
day_category               object
busiest_period_of_day      object
max_order                    int8
loyalty_flag               object
spending_flag              object
order_frequency_flag       object
dtype: object

# Wrangle the Customer Data

In [4]:
# Importing the "customers.csv" file by creating a string
df_cus = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'customers.csv'), index_col = False)
print (df_cus.head())

   user_id First Name    Surnam  Gender       STATE  Age date_joined  \
0    26711    Deborah  Esquivel  Female    Missouri   48    1/1/2017
1    33890   Patricia      Hart  Female  New Mexico   36    1/1/2017
2    65803    Kenneth    Farley    Male       Idaho   35    1/1/2017
3   125935   Michelle     Hicks  Female        Iowa   40    1/1/2017
4   130797        Ann   Gilmore  Female    Maryland   26    1/1/2017

   n_dependants fam_status  income
0             3    married  165665
1             0     single   59285
2             2    married   99568
3             0     single   42049
4             1    married   40374

In [5]:
df_cus.shape

(206209, 10)

In [6]:
# Create a copy of the original df_cus to keep it unchanged
df_cus_copy = df_cus.copy()

In [7]:
# Renaming the columns
df_cus_copy.rename(columns={ 
    'First Name' : 'first_name',
    'Surnam' : 'last_name',
    'Gender' : 'gender', 
    'STATE' : 'state', 
    'Age' : 'age', 
    'n_dependants' : 'number_of_dependents', 
    'fam_status' : 'family_status'}, inplace=True)

In [8]:
df_cus_copy.columns

Index(['user_id', 'first_name', 'last_name', 'gender', 'state', 'age',
       'date_joined', 'number_of_dependents', 'family_status', 'income'],
      dtype='object')

In [9]:
df_cus_copy.describe()

             user_id            age  number_of_dependents         income
count  206209.000000  206209.000000         206209.000000  206209.000000
mean   103105.000000      49.501646              1.499823   94632.852548
std     59527.555167      18.480962              1.118433   42473.786988
min         1.000000      18.000000              0.000000   25903.000000
25%     51553.000000      33.000000              0.000000   59874.000000
50%    103105.000000      49.000000              1.000000   93547.000000
75%    154657.000000      66.000000              3.000000  124244.000000
max    206209.000000      81.000000              3.000000  593901.000000

In [10]:
# Check for mixed-type columns using column-wise type inference
mixed_type_columns = [col for col in df_cus_copy.columns if pd.api.types.infer_dtype(df_cus_copy[col]) == 'mixed']

if mixed_type_columns:
    print("The following columns contain mixed data types:")
    print(mixed_type_columns)
else:
    print("No mixed-type columns found.")

No mixed-type columns found.

In [11]:
# Check for missing values in each column
missing_values = df_cus_copy.isnull().sum()

# Display columns with missing values
print("Missing values in each column:")
print(missing_values)

Missing values in each column:
user_id                     0
first_name              11259
last_name                   0
gender                      0
state                       0
age                         0
date_joined                 0
number_of_dependents        0
family_status               0
income                      0
dtype: int64

In [12]:
# Find duplicate rows (if any)
duplicates = df_cus_copy[df_cus_copy.duplicated()]

# Check if there are any duplicates
if not duplicates.empty:
    print("Duplicate rows found:")
    print(duplicates)
else:
    print("No duplicates found.")

No duplicates found.

In [13]:
# Check the data types of all columns
print("Data types of the DataFrame:")
print(df_cus_copy.dtypes)

Data types of the DataFrame:
user_id                  int64
first_name              object
last_name               object
gender                  object
state                   object
age                      int64
date_joined             object
number_of_dependents     int64
family_status           object
income                   int64
dtype: object

# Downcasting df_cus_copy

In [14]:
# Downcasting numerical columns to reduce memory usage in df_cus_copy

for column in df_cus_copy.columns:
    if df_cus_copy[column].dtype == 'float64':
        df_cus_copy[column] = pd.to_numeric(df_cus_copy[column], downcast='float')
    elif df_cus_copy[column].dtype == 'int64':
        df_cus_copy[column] = pd.to_numeric(df_cus_copy[column], downcast='integer')

print("Downcasting completed for df_cus_copy.")

Downcasting completed for df_cus_copy.

In [15]:
print("Updated data types of the DataFrame:")
print(df_cus_copy.dtypes)

Updated data types of the DataFrame:
user_id                  int32
first_name              object
last_name               object
gender                  object
state                   object
age                       int8
date_joined             object
number_of_dependents      int8
family_status           object
income                   int32
dtype: object

In [16]:
# Downcast user_id in both DataFrames
opm_refined['user_id'] = pd.to_numeric(opm_refined['user_id'], downcast='integer')
df_cus_copy['user_id'] = pd.to_numeric(df_cus_copy['user_id'], downcast='integer')

# Merging the DataFrames (opm_refined and df_cus_copy)

In [17]:
# Merge opm_refined and df_cus_copy

df_merged = opm_refined.merge(df_cus_copy, on = 'user_id', how = 'inner')

print("Merge completed. The resulting DataFrame is:")
print(df_merged.head(3))

Merge completed. The resulting DataFrame is:
   order_id  user_id  order_number  order_day_of_week  order_hour_of_day  \
0   2539329        1             1                  2                  8
1   2539329        1             1                  2                  8
2   2539329        1             1                  2                  8

   days_since_prior_order  new_customer  product_id  add_to_cart_order  \
0                     NaN          True         196                  1
1                     NaN          True       14084                  2
2                     NaN          True       12427                  3

   reordered  ...   order_frequency_flag  first_name  last_name  gender  \
0          0  ...  Non-frequent customer       Linda     Nguyen  Female
1          0  ...  Non-frequent customer       Linda     Nguyen  Female
2          0  ...  Non-frequent customer       Linda     Nguyen  Female

     state age date_joined number_of_dependents  family_status income
0  Alabama  31   2/17/2019                    3        married  40423
1  Alabama  31   2/17/2019                    3        married  40423
2  Alabama  31   2/17/2019                    3        married  40423

[3 rows x 31 columns]

# Exporting the merged dataframe

In [18]:
# Export the merged dataframe in pickle format

df_merged.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'df_repolished.pkl'))
print("df_repolished.pkl created successfully.")

df_repolished.pkl created successfully.