# 01. Importing libraries

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 02. Order and Product Table

In [19]:
# creating a string of the path for the main project folder
path = r'C:\Users\rbhte\Documents\Achievement_4_Monami\Instacart Basket Analysis'
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '4.3_orders_products', 'orders.csv'), index_col = False)
print ('Displaying ORDERS Table')
print ('-----------------------------------------------------------------------')
print (df_ords.head())
df_ords1 = df_ords.drop(columns = ['eval_set'])
print ('Displaying updated ORDERS Table')
print ('-----------------------------------------------------------------------')
print (df_ords1.head())

Displaying ORDERS Table
-----------------------------------------------------------------------
   order_id  user_id eval_set  order_number  order_dow  order_hour_of_day  \
0   2539329        1    prior             1          2                  8
1   2398795        1    prior             2          3                  7
2    473747        1    prior             3          3                 12
3   2254736        1    prior             4          4                  7
4    431534        1    prior             5          4                 15

   days_since_prior_order
0                     NaN
1                    15.0
2                    21.0
3                    29.0
4                    28.0
Displaying updated ORDERS Table
-----------------------------------------------------------------------
   order_id  user_id  order_number  order_dow  order_hour_of_day  \
0   2539329        1             1          2                  8
1   2398795        1             2          3                  7
2    473747        1             3          3                 12
3   2254736        1             4          4                  7
4    431534        1             5          4                 15

   days_since_prior_order
0                     NaN
1                    15.0
2                    21.0
3                    29.0
4                    28.0

In [73]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '4.3_orders_products', 'products.csv'), index_col = False)
print ('Displaying PRODUCTS Table')
print ('-----------------------------------------------------------------------')
print (df_prods.head())
# df_prods1 = df_prods.drop(columns = ['aisle_id']) # Incase we thought of dropping aisle_id
# print ('Displaying updated PRODUCTS Table')
# print ('-----------------------------------------------------------------------')
# print (df_prods1.head())

Displaying PRODUCTS Table
-----------------------------------------------------------------------
   product_id                                       product_name  aisle_id  \
0           1                         Chocolate Sandwich Cookies        61
1           2                                   All-Seasons Salt       104
2           3               Robust Golden Unsweetened Oolong Tea        94
3           4  Smart Ones Classic Favorites Mini Rigatoni Wit...        38
4           5                          Green Chile Anytime Sauce         5

   department_id  prices
0             19     5.8
1             13     9.3
2              7     4.5
3              1    10.5
4             13     4.3

# 03. Other Procedures

In [27]:
# Another identifier variable in the df_ords dataframe that need not be included in the analysis as a numeric variable
df_ords1['order_id'] = df_ords1['order_id'].astype('str')

In [28]:
# Changing the name of order_dow without overwriting the dataframe
df_ords_rn = df_ords1.rename(columns={'order_dow': 'order_day_of_week'})

In [41]:
# Busiest hour for placing orders
busiest_hour = df_ords_rn['order_hour_of_day'].value_counts().idxmax()
# idxmax(): Identifies the hour with the highest frequency
order_counts = df_ords_rn['order_hour_of_day'].value_counts()
# value_counts(): Counts how many orders were placed at each hour
print (f"The busiest hour for placing orders is : {busiest_hour}")
print ("Order frequency by hour:")
print (order_counts)

The busiest hour for placing orders is : 10
Order frequency by hour:
order_hour_of_day
10    288418
11    284728
15    283639
14    283042
13    277999
12    272841
16    272553
9     257812
17    228795
18    182912
8     178201
19    140569
20    104292
7      91868
21     78109
22     61468
23     40043
6      30529
0      22758
1      12398
5       9569
2       7539
4       5527
3       5474
Name: count, dtype: int64

In [33]:
# Importing the "departments.csv" file by creating a string
df_dep = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'departments.csv'), index_col = False)
print (df_dep.head())

  department_id       1      2       3        4        5              6  \
0    department  frozen  other  bakery  produce  alcohol  international

           7     8                9  ...            12      13         14  \
0  beverages  pets  dry goods pasta  ...  meat seafood  pantry  breakfast

             15          16         17      18      19    20       21
0  canned goods  dairy eggs  household  babies  snacks  deli  missing

[1 rows x 22 columns]

In [67]:
# Transposing df_dep
df_dep_t = df_dep.T
df_dep_t.head(22)

                             0
department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [68]:
# To remove the 0 and get the table with the headings
df_dep_t.reset_index()
new_header = df_dep_t.iloc[0]
df_dep_t_new = df_dep_t[1:]
df_dep_t_new.columns = new_header
print(df_dep_t_new)

department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [69]:
# Turning the dep dataframe into a dictionary
data_dict = df_dep_t_new.to_dict('index')
print (data_dict)

{'1': {'department': 'frozen'}, '2': {'department': 'other'}, '3': {'department': 'bakery'}, '4': {'department': 'produce'}, '5': {'department': 'alcohol'}, '6': {'department': 'international'}, '7': {'department': 'beverages'}, '8': {'department': 'pets'}, '9': {'department': 'dry goods pasta'}, '10': {'department': 'bulk'}, '11': {'department': 'personal care'}, '12': {'department': 'meat seafood'}, '13': {'department': 'pantry'}, '14': {'department': 'breakfast'}, '15': {'department': 'canned goods'}, '16': {'department': 'dairy eggs'}, '17': {'department': 'household'}, '18': {'department': 'babies'}, '19': {'department': 'snacks'}, '20': {'department': 'deli'}, '21': {'department': 'missing'}}

In [70]:
# To determine what "department_id = 4 " means
print(data_dict.get('4'))

{'department': 'produce'}

In [74]:
# Creating a subset for the df_prods1 dataframe that only contains data from the breakfast department
df_breakfast =  df_prods[df_prods['department_id']==14]
print (df_breakfast)

       product_id                                       product_name  \
27             28                                  Wheat Chex Cereal
33             34                                                NaN
67             68                            Pancake Mix, Buttermilk
89             90                                       Smorz Cereal
210           211   Gluten Free Organic Cereal Coconut Maple Vanilla
...           ...                                                ...
49330       49326                            Cereal Variety Fun Pack
49395       49391            Light and Fluffy Buttermilk Pancake Mix
49547       49543                          Chocolate Cheerios Cereal
49637       49633               Shake 'N Pour Buttermilk Pancake Mix
49667       49663  Ultra Protein Power Crunch Peanut Butter N' Ho...

       aisle_id  department_id  prices
27          121             14    10.1
33          121             14    12.2
67          130             14    13.7
89          121             14     3.9
210         130             14     3.6
...         ...            ...     ...
49330       121             14     9.1
49395       130             14     2.0
49547       121             14    10.8
49637       130             14    14.2
49667        57             14    10.2

[1116 rows x 5 columns]

In [79]:
#  To find all observations from the entire dataframe that include items from the following departments : alcohol, deli, beverages and meat seafood
dinner_party_subset = df_prods[df_prods['department_id'].isin(['alcohol', 'deli', 'beverages', 'meat seafood'])]
print("\nDinner Party Items :")
print(dinner_party_subset)

Dinner Party Items :
Empty DataFrame
Columns: [product_id, product_name, aisle_id, department_id, prices]
Index: []

In [80]:
# Check the number of rows in the dinner_party_subset dataframe
row_count = dinner_party_subset.shape[0]
print(f"The dinner_party_subset dataframe has {row_count} rows.")

The dinner_party_subset dataframe has 0 rows.

In [81]:
# Filter the dataframe for rows where user_id is 1
user_id_1 = df_ords_rn[df_ords_rn['user_id'] == 1]

# Display the information for user_id = 1
print ("Information for user_id = 1 : ")
print (user_id_1)

Information for user_id = 1 :
   order_id  user_id  order_number  order_day_of_week  order_hour_of_day  \
0   2539329        1             1                  2                  8
1   2398795        1             2                  3                  7
2    473747        1             3                  3                 12
3   2254736        1             4                  4                  7
4    431534        1             5                  4                 15
5   3367565        1             6                  2                  7
6    550135        1             7                  1                  9
7   3108588        1             8                  1                 14
8   2295261        1             9                  1                 16
9   2550362        1            10                  4                  8
10  1187899        1            11                  4                  8

    days_since_prior_order
0                      NaN
1                     15.0
2                     21.0
3                     29.0
4                     28.0
5                     19.0
6                     20.0
7                     14.0
8                      0.0
9                     30.0
10                    14.0

In [85]:
# Calculating basic stats for user_id = 1
total_orders = user_id_1.shape[0]
most_common_dow = user_id_1['order_day_of_week'].mode()[0]
most_common_hour = user_id_1['order_hour_of_day'].mode()[0]
avg_days_between_orders = user_id_1['days_since_prior_order'].mean()

# Print the stats

print(f"\nBasic Stats for user_id = 1")
print(f"Total Orders: {total_orders}")
print(f"Most Frequent Day of Week: {most_common_dow}")
print(f"Most Common Hour of Day: {most_common_hour}")
print(f"Average Days Between Orders: {avg_days_between_orders:.2f}")

Basic Stats for user_id = 1
Total Orders: 11
Most Frequent Day of Week: 4
Most Common Hour of Day: 7
Average Days Between Orders: 19.00

In [86]:
# Exporting the ords_rn dataframe as “orders_wrangled.csv” into the “Prepared Data” folder
df_ords_rn.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_wrangled.csv'))
# Exporting the df_dep_t_new dataframe as “departments_wrangled.csv” into the “Prepared Data” folder
df_dep_t_new.to_csv(os.path.join(path, '02 Data','Prepared Data', 'departments_wrangled.csv'))