# Importing libraries

In [3]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [4]:
# Importing “products.csv” data set from the “Original Data” folder as df_prods by creating a string of the path
path = r'C:\Users\rbhte\Documents\Achievement_4_Monami\Instacart Basket Analysis'
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', '4.3_orders_products', 'products.csv'), index_col = 0)
# Importing “orders_wrangled.csv” data set from the “Prepared Data” folder as df_ords by creating a string of the path
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_wrangled.csv'), index_col = 0)

# To perform consistency checks on the orders dataframe

In [5]:
# Investigating the accuracy of the columns in the dataframe
df_ords.describe()

,order_id,user_id,order_number,order_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [6]:
# Check min, max and unique values
print("order_day_of_week stats:")
print(f"Min: {df_ords['order_day_of_week'].min()}")
print(f"Max: {df_ords['order_day_of_week'].max()}")
print(f"Unique values: {df_ords['order_day_of_week'].unique()}")

order_day_of_week stats:
Min: 0
Max: 6
Unique values: [2 3 4 1 5 0 6]

Expected : Min: 0 (Sunday), Max: 6 (Saturday), Total unique values: 7, Median (50th percentile): 3

In [7]:
# Check min, max and unique values
print("days_since_prior_order stats:")
print(f"Min: {df_ords['days_since_prior_order'].min()}")
print(f"Max: {df_ords['days_since_prior_order'].max()}")
print(f"Number of NaN values: {df_ords['days_since_prior_order'].isna().sum()}")

days_since_prior_order stats:
Min: 0.0
Max: 30.0
Number of NaN values: 206209

Expected : No negative values, Max should be reasonable based on the dataset's time range, NaN values are okay since it represents first-time orders.

In [8]:
# Check min, max and unique values
print("order_hour_of_day stats:")
print(f"Min: {df_ords['order_hour_of_day'].min()}")
print(f"Max: {df_ords['order_hour_of_day'].max()}")
print(f"Unique values: {df_ords['order_hour_of_day'].unique()}")

order_hour_of_day stats:
Min: 0
Max: 23
Unique values: [ 8  7 12 15  9 14 16 11 10 19 18 17 13 20  0 21 22  5 23  4  6  1  2  3]

Expected : Min: 0 (earliest time of day), Max: 23 (latest time of day), No values outside this range

In [9]:
# Checking whether the df_ords dataframe contains any mixed-type columns
for col in df_ords.columns:
    mixed_types = df_ords[col].apply(lambda x: type(x)).unique()
    print(f"{col}: {mixed_types}")

order_id: [<class 'int'>]
user_id: [<class 'int'>]
order_number: [<class 'int'>]
order_day_of_week: [<class 'int'>]
order_hour_of_day: [<class 'int'>]
days_since_prior_order: [<class 'float'>]

There are no mixed-type columns in this DataFrame (df_ords). Each column contains consistent data types across all rows.

In [10]:
# To find the missing values if any
missing_values = df_ords.isnull().sum()
print(missing_values)

order_id                       0
user_id                        0
order_number                   0
order_day_of_week              0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

This is a good method of choice because :

isnull(): This function returns a DataFrame of the same shape, where each element is a boolean (True if the value is missing, False otherwise).

sum(): When applied to the result of isnull(), it counts the number of True values (i.e., missing values) for each column. This gives us a concise summary of how many missing values exist in each column of the dataframe.

Using this method we can quickly assess the presence of any missing data in the modified dataframe without affecting the original dataframe. It's efficient for large datasets because it directly gives us the count of missing values per column.

In [11]:
# Now we need to see the missing values in days_since_prior_order
df_dspo = df_ords[df_ords['days_since_prior_order'].isnull() == True]
print (df_dspo)

         order_id  user_id  order_number  order_day_of_week  \
0         2539329        1             1                  2
11        2168274        2             1                  2
26        1374495        3             1                  1
39        3343014        4             1                  6
45        2717275        5             1                  3
...           ...      ...           ...                ...
3420930    969311   206205             1                  4
3420934   3189322   206206             1                  3
3421002   2166133   206207             1                  6
3421019   2227043   206208             1                  1
3421069   3154581   206209             1                  3

         order_hour_of_day  days_since_prior_order
0                        8                     NaN
11                      11                     NaN
26                      14                     NaN
39                      11                     NaN
45                      12                     NaN
...                    ...                     ...
3420930                 12                     NaN
3420934                 18                     NaN
3421002                 19                     NaN
3421019                 15                     NaN
3421069                 11                     NaN

[206209 rows x 6 columns]

The `NaN` values in the `days_since_prior_order` column represent customers' first orders, as no prior order exists. These are not errors.

Addressing Missing Values in days_since_prior_order

1. Remove or Filter Out Missing Data:
Removing missing values isn’t suitable here because NaN represents "new customers" with no prior orders. This missing information is meaningful and shouldn't be discarded.

2. Impute Values with Mean or Median:
Imputing values isn’t feasible as NaN indicates no prior orders, not a typical numerical value. Using the mean (e.g., 11.11) or zero would misrepresent this scenario, as it doesn't capture the concept of a new customer.

3. Create a New Flag Variable:
The best approach is to preserve the NaN values and create a new column, such as "new_customer", where True indicates a new customer (NaN in days_since_prior_order) and False otherwise. This way, the missing values are flagged and retain their importance without altering the original data.

In [16]:
# print(df_ords.head(15))

In [15]:
# Create a copy of the dataframe
df_ords_modified = df_ords.copy()

# Create the 'new_customer' column
df_ords_modified['new_customer'] = df_ords_modified['days_since_prior_order'].isnull()

# Verify the result
print(df_ords_modified[['days_since_prior_order', 'new_customer']].head(15))

    days_since_prior_order  new_customer
0                      NaN          True
1                     15.0         False
2                     21.0         False
3                     29.0         False
4                     28.0         False
5                     19.0         False
6                     20.0         False
7                     14.0         False
8                      0.0         False
9                     30.0         False
10                    14.0         False
11                     NaN          True
12                    10.0         False
13                     3.0         False
14                     8.0         False

In [17]:
# To recheck and see if there are any missing values 
df_ords_modified.isnull().sum()

order_id                       0
user_id                        0
order_number                   0
order_day_of_week              0
order_hour_of_day              0
days_since_prior_order    206209
new_customer                   0
dtype: int64

In [18]:
# To look for duplicates in df_ords_modified
df_ords_cleaned = df_ords_modified[df_ords_modified.duplicated()]
print (df_ords_cleaned)

Empty DataFrame
Columns: [order_id, user_id, order_number, order_day_of_week, order_hour_of_day, days_since_prior_order, new_customer]
Index: []

The duplicated() function checks for rows that are exact copies of other rows in the DataFrame. Since the resulting DataFrame df_ords_cleaned is empty, it means that all rows in df_ords_modified are unique.

# To perform consistency checks on the products dataframe

In [24]:
# Investigating the accuracy of the columns in the dataframe
df_prods.describe()

           aisle_id  department_id        prices
count  49693.000000   49693.000000  49693.000000
mean      67.770249      11.728433      9.994136
std       38.316774       5.850282    453.519686
min        1.000000       1.000000      1.000000
25%       35.000000       7.000000      4.100000
50%       69.000000      13.000000      7.100000
75%      100.000000      17.000000     11.200000
max      134.000000      21.000000  99999.000000

In [25]:
# Check the unique values for each column
print("\nUnique values for each column:")
print(f"aisle_id unique values: {df_prods['aisle_id'].nunique()}")
print(f"department_id unique values: {df_prods['department_id'].nunique()}")
print(f"prices unique values: {df_prods['prices'].nunique()}")

# Check the min and max values for specific columns
print("\nMin and Max values:")
print(f"aisle_id: min={df_prods['aisle_id'].min()}, max={df_prods['aisle_id'].max()}")
print(f"department_id: min={df_prods['department_id'].min()}, max={df_prods['department_id'].max()}")
print(f"prices: min={df_prods['prices'].min()}, max={df_prods['prices'].max()}")

Unique values for each column:
aisle_id unique values: 134
department_id unique values: 21
prices unique values: 242

Min and Max values:
aisle_id: min=1, max=134
department_id: min=1, max=21
prices: min=1.0, max=99999.0

In [34]:
# Temporarily reset the index to include product_id as a column
df_prods_reset = df_prods.reset_index()

# Check for mixed-type data
for col in df_prods_reset.columns:
    mixed_types = df_prods_reset[col].apply(lambda x: type(x)).unique()
    print(f"{col}: {mixed_types}")

product_id: [<class 'int'>]
product_name: [<class 'str'> <class 'float'>]
aisle_id: [<class 'int'>]
department_id: [<class 'int'>]
prices: [<class 'float'>]

In [36]:
# Identify rows with mixed types in product_name
problematic_rows = df_prods_reset[df_prods_reset['product_name'].apply(lambda x: not isinstance(x, str))]
print(problematic_rows)

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [38]:
df_prods_reset.shape

(49693, 5)

In [46]:
# Create a new dataframe to fix the issue
df_prods_modified = df_prods_reset[df_prods_reset['product_name'].isnull() == False ]

In [45]:
df_prods_modified.shape

(49677, 5)

In [47]:
# Check for mixed types again in the modified dataframe
for col in df_prods_modified.columns:
    mixed_types = df_prods_modified[col].apply(lambda x: type(x)).unique()
    print(f"{col}: {mixed_types}")

product_id: [<class 'int'>]
product_name: [<class 'str'>]
aisle_id: [<class 'int'>]
department_id: [<class 'int'>]
prices: [<class 'float'>]

In [48]:
# Check for missing values in df_prods_modified
missing_values = df_prods_modified.isnull().sum()
print(missing_values)

product_id       0
product_name     0
aisle_id         0
department_id    0
prices           0
dtype: int64

In [49]:
# Check for duplicates in df_prods_modified
duplicates = df_prods_modified[df_prods_modified.duplicated()]
print(duplicates)

       product_id                                       product_name  \
462           462                  Fiber 4g Gummy Dietary Supplement
18459       18458                                         Ranger IPA
26810       26808               Black House Coffee Roasty Stout Beer
35309       35306  Gluten Free Organic Peanut Butter & Chocolate ...
35495       35491                            Adore Forever Body Wash

       aisle_id  department_id  prices
462          70             11     4.8
18459        27              5     9.2
26810        27              5    13.4
35309       121             14     6.8
35495       127             11     9.9

In [50]:
# Count the number of duplicate rows
num_duplicates = df_prods_modified.duplicated().sum()
print(f"Number of duplicate rows: {num_duplicates}")

Number of duplicate rows: 5

In [51]:
# Remove duplicates by keeping the first occurrence
df_prods_modified_no_duplicates = df_prods_modified.drop_duplicates(keep = 'first')

# Alternatively, we can keep the last occurrence instead of the first by changing 'first' to 'last'
# df_prods_modified_no_duplicates = df_prods_modified.drop_duplicates(keep = 'last')

print ('\n The modified dataframe without duplicates : ')
print (df_prods_modified_no_duplicates)

 The modified dataframe without duplicates :
       product_id                                       product_name  \
0               1                         Chocolate Sandwich Cookies
1               2                                   All-Seasons Salt
2               3               Robust Golden Unsweetened Oolong Tea
3               4  Smart Ones Classic Favorites Mini Rigatoni Wit...
4               5                          Green Chile Anytime Sauce
...           ...                                                ...
49688       49684          Vodka, Triple Distilled, Twist of Vanilla
49689       49685                 En Croute Roast Hazelnut Cranberry
49690       49686                                   Artisan Baguette
49691       49687         Smartblend Healthy Metabolism Dry Cat Food
49692       49688                             Fresh Foaming Cleanser

       aisle_id  department_id  prices
0            61             19     5.8
1           104             13     9.3
2            94              7     4.5
3            38              1    10.5
4             5             13     4.3
...         ...            ...     ...
49688       124              5     5.3
49689        42              1     3.1
49690       112              3     7.8
49691        41              8     4.7
49692        73             11    13.5

[49672 rows x 5 columns]

In [53]:
df_prods_modified_no_duplicates.shape

(49672, 5)

In [52]:
# Exporting the df_ords_modified dataframe as “orders_cleaned.csv” into the “Prepared Data” folder
df_ords_modified.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_cleaned.csv'))
# Exporting the df_prods_modified_no_duplicates dataframe as “products_cleaned.csv” into the “Prepared Data” folder
df_prods_modified_no_duplicates.to_csv(os.path.join(path, '02 Data','Prepared Data', 'products_cleaned.csv'))